body {
  background: #333;
}

.clock {
  font-size: 4em;
  color: yellow;
  text-align: center;
  margin: 200px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.clock span {
  padding: 20px;
  background: #444;
}
